<div class="row mt-5">
  <div class="col-6 offset-3">
    <form (ngSubmit)="onSubmit()" name="registerForm" #form="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required name="email" [(ngModel)]="registerForm.email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required name="password"
          [(ngModel)]="registerForm.password">
      </div>

      <div class="form-group">
        <button class="btn btn-primary">S'inscrire</button>
      </div>
    </form>

  </div>
</div>
